[Unit]
Description=Plex auto-updater for Debian-based systems
Requires=Network.target
After=Network.target

[Service]
User=root
Group=root
WorkingDirectory=/opt/linux-plex-updater
EnvironmentFile=/opt/linux-plex-updater/environment
ExecStart=python -m /opt/linux-plex-updater/linux_plex_updater

[Install]
WantedBy=multi-user.target