[Unit]
Description=Plex auto-updater for Debian-based systems
Requires=network-online.target
After=network-online.target

[Service]
User=root
Group=root
WorkingDirectory=/opt/linux-plex-updater
EnvironmentFile=/opt/linux-plex-updater/config
ExecStart=/opt/linux-plex-updater/venv/bin/python -m linux_plex_updater

[Install]
WantedBy=multi-user.target